.header-cont{
    display: flex;
    background-color: #003366;
    flex-direction: column;
    padding-bottom: 5vw;
    align-items: center;
    justify-content: center;
}

.product-button{
    background-color: white;
    border: none;
    color: #003366;
    font-size: 1.25vw;
    font-weight: 600;
    padding: 1vw 1.5vw;
    border-radius: 3%;
}

.quote-button{
    background-color: #003366;
    color: white;
    border: 3px solid white;
    border-radius: 3%;
    font-weight: 600;
    font-size: 1.25vw;
    padding: 1vw 1.5vw;
}

.header-buttons{
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.avone-header{
    color: white;
    font-size: 3vw;
    font-weight: 700;
}

.avone-subtext{
    color: white;
    font-size: 1.75vw;
    margin-top: -3vw;
}
