.header-cont{
    display: flex;
    /* background-color: #003366; */
    /* background: linear-gradient(
    135deg,
    #0a3d62,
    #1f4e79,
    #003366,
    #1f4e79,
    #0a3d62
  ); */
   /* background: linear-gradient(
    135deg,
    #7a7a7a,
    #b5b5b5,
    #e0e0e0,
    #b5b5b5,
    #7a7a7a
  ); */
   background: linear-gradient(
    135deg,
    #1f1f1f,
    #2c2c2c,
    #3b3b3b,
    #2c2c2c,
    #1f1f1f
  );
    flex-direction: column;
    padding-bottom: 5vw;
    align-items: center;
    justify-content: center;
}

.header-header{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.product-button{
    background-color: white;
    border: none;
    /* color: #003366; */
    color: #1f1f1f,;
    font-size: 1.25vw;
    font-weight: 600;
    padding: 1vw 1.5vw;
    border-radius: 3%;
}

.quote-button{
    background-color: #1f1f1f,;
    color: white;
    border: 3px solid white;
    border-radius: 3%;
    font-weight: 600;
    font-size: 1.25vw;
    padding: 1vw 1.5vw;
}

.header-buttons{
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.avone-header{
    color: white;
    font-size: 8vw;
    font-weight: 700;
}

.avone-subtext{
    color: white;
    font-size: 3.5vw;
    margin-top: -8vw;
}


   /* font-size: 3vw; */